#center{
    margin-top: 3%;
}
#search{
    width: 80%;
    margin-left: 5%;
}

#card-body-search{
    display: flex;
    justify-content: center;
}
.w-100{
    padding-left: 5%;
    border-color: transparent;
}
.form-check-input{
    background-color:  #9ef4d7;
    // color:  #1DB3A0;
}